<div class="container my-4">
    <h1 class="text-center">Lista de productos</h1>
    {{#if products.length}}
        <section class="d-flex gap-3 flex-wrap justify-content-center my-4">
            {{#each products}}
                <div class="card" style="width: 18rem;">
                    <img src={{this.thumbnails.[0]}} class="card-img-top" alt={{this.title}}>
                    <div class="card-body">
                        <h2 class="">{{this.title}}</h2>
                        <p>Precio: ${{this.price}}</p>
                        <p class="card-text">{{this.description}}</p>
                    </div>
                </div>
            {{/each}}
        </section>
    {{else}}
        <p>No hay productos disponibles.</p>
    {{/if}}
</div>